apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "healthy-agent.fullname" . }}
  labels:
    {{- include "healthy-agent.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "healthy-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "healthy-agent.labels" . | nindent 8 }}
    spec:
      serviceAccountName: default
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: GROQ_API_KEY
              value: {{ .Values.env.GROQ_API_KEY | quote }}
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"